html {
  Setting a base font-size for em calculations
font-size: 10px;
}

Background {
background-color: black;
}

body {
background: linear-gradient(to bottom, #708090, white);
font-family: Arial, Helvetica, sans-serif;
font-size: 1.7rem;
line-height: 2;

margin: 0;
}

#main {
background-color: lightgrey;
width: 80%;
border: 5px solid black;
padding: 50px;
margin: 20px;

}

#title {
font-size: 4rem;
line-height: 1rem;
text-align: center;
}

#title-description {
  text-align: center;
  font-size: 2rem;

}

#img-div {

}

#image {
display: block;
margin: 0 auto;
width: 80%;
}

@media (aspect-ratio:600px) {
  #image {
/* this section incomplete. Need to find out how to make a max width of the picture before it doesn't get any bigger */
  }
}

#img-caption {

}

