html {
  /* Setting a base font-size for em calculations */
font-size: 10px;
}

body {
background: linear-gradient(to bottom, #708090, white);
font-family: Arial, Helvetica, sans-serif;
font-size: 1.7rem;
line-height: 2;
margin: 0;
}

#main {
background-color: lightgrey;
margin-left: auto;
margin-right: auto;
border: 5px solid black;
padding: 50px;
margin: 50px;
}

#title {
font-size: 4rem;
line-height: 3rem;
text-align: center;
}

#title-description {
  text-align: center;
  font-size: 2rem;
}

#img-div {
align-content: center;
}

/* For width smaller than 800px: */
#image {
display: block;
margin: 0 auto;
width: 80%;
}

/* For width larger than 800px: */
@media screen and (min-width: 800px) {
  #image {
    max-width: 800px;
  }
}

/* Minimum #main size: */

@media screen and (min-width: 250px){
  #main {
    min-width: 250px;
  }
}

#img-caption {
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
}

#tribute-info {
  text-align: left;
}

#headline {
  text-align: center;
}

blockquote {
  font-style: italic;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

